<h1>Contactez-nous</h1>

<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <p>Pour toute donation, la maison n'accepte que les BTC et ETH. </p>
      <p><%= link_to "donation@gossip.gouv.org", contact_path %></p>
    </div>
  </div>
</div>
